In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [67]:
df = pd.read_csv("GOOG_data.csv")

In [68]:
df.head()

         date     open    high     low   close  volume  Name
0  2014-03-27  568.000  568.00  552.92  558.46   13052  GOOG
1  2014-03-28  561.200  566.43  558.67  559.99   41003  GOOG
2  2014-03-31  566.890  567.00  556.93  556.97   10772  GOOG
3  2014-04-01  558.710  568.45  558.71  567.16    7932  GOOG
4  2014-04-02  565.106  604.83  562.19  567.00  146697  GOOG

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    975 non-null    object
 1   open    975 non-null    float64
 2   high    975 non-null    float64
 3   low     975 non-null    float64
 4   close   975 non-null    float64
 5   volume  975 non-null    int64
 6   Name    975 non-null    object
dtypes: float64(4), int64(1), object(2)
memory usage: 53.4+ KB

In [70]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,975.0,7.253642e+02,165.996590,494.650,565.113,722.71,822.035,1177.33
high,975.0,7.308222e+02,166.847404,495.976,570.380,727.00,826.185,1186.89
low,975.0,7.194568e+02,165.526487,487.560,559.055,716.43,818.725,1171.98
close,975.0,7.254034e+02,166.420529,492.550,564.785,720.64,823.330,1175.84
volume,975.0,1.808414e+06,947968.484651,7932.000,1261927.000,1576830.00,2052652.000,11164943.00

In [71]:
df.isna().sum()

date      0
open      0
high      0
low       0
close     0
volume    0
Name      0
dtype: int64

In [72]:
def prepare_data(df,forecast_col,forecast_out,test_size):
    label = df[forecast_col].shift(-forecast_out)
    X = np.array(df[[forecast_col]])
    X = preprocessing.scale(X)
    X_lately = X[-forecast_out:]
    X = X[:-forecast_out]
    label.dropna(inplace=True)
    y = np.array(label)
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0)

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

In [73]:
forecast_col = 'close'
forecast_out = 5
test_size = 0.2

In [74]:
X_train, X_test, Y_train, Y_test , X_lately =prepare_data(df,forecast_col,forecast_out,test_size)

In [75]:
model = LinearRegression()

model.fit(X_train,Y_train)

LinearRegression()

In [78]:
score=model.score(X_test,Y_test)
forecast= model.predict(X_lately)

print(f"Model Score: {round(score, 2)} Model Forecast: {forecast}")

Model Score: 0.98 Model Forecast: [1171.72742734 1115.75681176 1059.48527889 1084.36110804 1052.24320283]